<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h3 class="muted">Pay Periods Remaining</h3>
  </div>

  <hr>

  <div class="row">
    <div class="span8">
      <h4>Simple application which helps to calculate pay periods remaining in current year.</h4>
    </div>
  </div>

  <div class="row ppr_form">
    <div class="span3">
      <form>
        <fieldset>
          <label>Start date</label>
          <div class="input-append">
            <input class="span2" type="text" placeholder="mm/dd/yyyy" name="start_date">
            <button class="btn start_date_today" type="button">Today</button>
          </div>
          <label>Pay frequency</label>
          <div>
            <select size="1" name="pay_frequency">
              <option value="sm">Semi-monthly</option>
            </select>
          </div>
          <button type="button" class="calculate btn btn-large btn-success">Calculate</button>
        </fieldset>
      </form>
    </div>
    <div class="span3">
      <div class="alert alert-success ppr_alert">
        Pay periods remaining: <span class="ppr_result">?</span>
      </div>
      <div class="alert alert-error ppr_error">
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p><a href="https://github.com/askalyuk/pay-periods-remaining">open source</a></p>
  </div>

</div>