<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h3 class="muted">Pay Periods Remaining</h3>
  </div>

  <hr>

  <div class="description">
    <h4>Simple application which helps to calculate pay periods remaining in current year.</h4>
    <form>
      <fieldset>
        <label>Start date</label>
        <div class="input-append">
          <input class="span2" type="text" placeholder="mm/dd/yyyy">
          <button class="btn" type="button">Today</button>
        </div>
        <label>Pay frequency</label>
        <div>
          <select name="drop1" id="Select1" size="1">
            <option value="sm">Semi-monthly</option>
          </select>
        </div>
        <button type="submit" class="btn btn-large btn-success">Calculate</button>
      </fieldset>
    </form>
  </div>

  <hr>

  <div class="footer">
    <p><a href="https://github.com/askalyuk/pay-periods-remaining">open source</a></p>
  </div>

</div>